{% if form %}
	<form action='' method="POST">
		<ul>
			<li>
				<label>{{ contact.email_label }}</label>
				{% if form.email.errors %}{{ form.email.errors }}{% endif %}
					{{ form.email }}
			</li>
			<li>
				<label>{{ contact.subject_label }}</label>
				{% if form.subject.errors %}{{ form.subject.errors }}{% endif %}
					{{ form.subject }}
			</li>
			<li>
				<label>{{ contact.content_label }}</label>
				{% if form.content.errors %}{{ form.content.errors }}{% endif %}
					{{ form.content }}
			</li>
			<li>
				<input type="submit" {% if contact.submit %}value="{{ contact.submit }}"{% endif %}>
			</li>
		</ul>
	</form>

{% else %}
	<h2>{{ contact.thanks }}</h2>
{% endif %}
