{% load tagging_tags comments i18n %}

<article class="entryHeader span-16 last">
  <h1 class="entryTitle">
    <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">
      {{ object.title }}
    </a>
  </h1>
  <p class="entryInfo">
    {% trans "Posted" %} 
    {% trans "on" %} {{ object.creation_date|date:"F d, Y"|capfirst }}
    {% trans "in" %} 
    {% for category in object.categories.all %}
    <a href="{{ category.get_absolute_url }}" title="{{ category }}"><em>{{ category }}</em></a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>

<div class="entryBody span-16 last">
  {% if object.image %}
  <div class="entryImage">
    <p>
      <a href="{{ object.get_absolute_url }}">
	<img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
      </a>
    </p>
  </div>
  {% endif %}
  <div class="entryContent">
    {{ object_content }}
  </div>
</div>

{% if object.short_url %}
<div class="entryFooter">
  <p class="entryShortUrl span-16 last">
    <strong>{% trans "Short url" %}</strong> : 
    <a href="{{ object.short_url }}" title="{{ object.title }}">
      {{ object.short_url }}
    </a>
  </p>
</div>
{% endif %}
</article>


