{% extends "zinnia/skeleton.html" %}
{% load zinnia_tags tagging_tags i18n %}

{% block breadcrumbs %}
  {% zinnia_breadcrumbs %}
{% endblock %}

{% block sidebar %}

<div class="categories">
  <h2>{% trans "Categories" %}</h2>
  {% get_categories %}
</div>
<div class="calendar">
  <h2>Events Calendar</h2>
  {% get_calendar_entries %}
</div>

<div class="search">
  <h2>{% trans "Search" %}</h2>
  <form method="get" id="searchform" action="{% url zinnia_entry_search %}">
    <p>
      <input type="text" value="{% trans "Keywords..." %}" name="pattern" id="searchbox" onfocus="this.value=''"/>
      <input type="submit" class="submitbutton" value="OK" />
    </p>
  </form>
  </div>

{% endblock %}
