{% extends "base.html" %}
{% load zinnia_tags tagging_tags i18n %}
{% tags_for_model zinnia.entry as tag_entry %}
{% block extra_head %}
   {% get_archives_entries "zinnia/tags/link_archives_entries.html" %}
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of lastest entries" %}" href="{% url zinnia_feeds "latest" %}" />
{% endblock %}
{% block body_class %}
blog
{% endblock %}
{% block main_content %}
<div class="content-wrap container_24 clearfix">
    <nav class="grid_4 suffix_1">
    <h2><a href="/news-and-events/">News and Events</a></h2>
        <ul>
        </ul>

    </nav>
    <section class="content grid_13 suffix_1">
     {% block content %}

     {% endblock %}
     </section>
     <aside class="grid_5">
        {% block sidebar %}
	    {% endblock %}
     </aside>
</div>
<!--{#	<div class="top-navigation">	  
	  <a href="{% url zinnia_sitemap %}" title="{% trans "Sitemap" %}" class="link sitemap">
	    {% trans "Sitemap" %}
	  </a> |
	  <a href="{% url zinnia_feeds "latest" %}" title="{% trans "RSS Feed of lastest entries" %}" class="link feeds">
	    {% trans "RSS Feed" %}
	  </a>


	<div id="breadcrumbs" class="span-24 last">
	  / {% block breadcrumbs %}{% endblock %}
    </div>#}-->
{% endblock %}


