<object width="{{ object.width }}" height="{{ object.height }}">
	<param name="movie" value="http://www.youtube.com/v/{{ object.video_id }}&autoplay={{ object.autoplay|yesno:"1,0" }}&fs={{ object.full_screen|yesno:"1,0" }}&border={{ object.border|yesno:"1,0" }}&loop={{ object.loop|yesno:"1,0" }}&rel={{ object.display_related_videos|yesno:"1,0" }}">
	</param>

	<param name="allowFullScreen" value="{{ object.full_screen|yesno:"true,false" }}"></param>

	<embed src="http://www.youtube.com/v/{{ object.video_id }}&autoplay={{ object.autoplay|yesno:"1,0" }}&fs={{ object.full_screen|yesno:"1,0" }}&border={{ object.border|yesno:"1,0" }}&loop={{ object.loop|yesno:"1,0" }}&rel={{ object.display_related_videos|yesno:"1,0" }}" type="application/x-shockwave-flash" allowfullscreen="{{ object.full_screen|yesno:"true,false" }}" width="{{ object.width }}" height="{{ object.height }}">
	</embed>
</object>
