
<!DOCTYPE HTML>
<html>
{% load cache cms_tags menu_tags kipp %}
<head>
        <title>KIPP Endeavor Academy - {% page_attribute page_title %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" charset="utf-8">
        <link rel="shortcut icon" href="/favicon.ico" />
        <meta name="description" content="{% page_attribute meta_description %}"/>
        <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="cache-control" content="public" />
        <meta name="robots" content="follow, all" />   
        
        <!--[if lte IE 8]>
        <script>
	    // For discussion and comments, see: http://remysharp.com/2009/01/07/html5-enabling-script/ (credit to @jdalton for minif)
    	/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark menu meter nav output progress section summary time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/
        </script>
        <![endif]-->
        <script type="text/javascript" src="http://use.typekit.com/fup8uby.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        {% block extra_head  %}
        {% endblock %}
</head>
<body class="{% block body_class %}home{% endblock %}">
<div id="content">
    
<header class="container_24 clearfix">
        <h1 id="logo" class="grid_4"><a href="/">KIPP Endeavor Academ</a></h1>
        <nav class="grid_20">
        <span class="enroll"><a href="#">Enroll Online</a> <span>or</span> <a href="/get-involved/">Get Involved</a></span>
            <div class="clear"></div>
            <ul>
                {% show_menu_below_id "main" 0 0 0 0 %}
            </ul>
        </nav>
</header>
{% block main_content %}
<section id="branding" class="container_24 clearfix">
            <div class="grid_7 suffix_1">
                {% placeholder main_branding %}
            </div>
            <div class="grid_16">
                    {% placeholder branding_image %}
            </div>
</section>
<section id="news" >
<h2 class="tagline">Be the change you wish to see in the world. -Ghandi</h2>  
<div class="container_24 clearfix">
<div class="mission grid_7 suffix_1">
        {% placeholder mission %}
</div>
<div id="left_column" class="grid_7 suffix_1">
        {% placeholder middle_column_header %}
        {% placeholder news_and_events %}

</div>
<div id="name" class="grid_8">
        {% placeholder facts_and_figures %}
        <h2>Facts <span class="amp">&amp;</span> Figures</h2>
</div>
</div>

</section>

{% endblock %}
</div>
<footer>
    <div class="container_24 clearfix">
        <nav class="grid_12">
        <div class="grid_4">
            <ul>
                {% show_menu_below_id "main" 0 0 0 0 %}
            </ul>
        </div> 
        <div class="grid_4">
            <ul>
                {% show_menu_below_id "get-involved" 0 0 0 0 %}
                <li><a href="#">Enroll Online</a></li>
                <li><a href="#">Download Form</a></li>
                <li><a href="#">Teach at KIPP</a></li>
                <li><a href="#">PowerSchool Login</a></li>
            </ul>
        </div>
        <div class="grid_3">
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Support KIPP</a></li>
            </ul>
        </div>
        </nav>
        <div class="contact-info grid_9">
             <div class="grid_4 suffix_1">
                <p>
                <span>KIPP Endeavor Academy</span>
                <span>2700 East 18th Street</span>
                <span>Kansas City, MO 64127</span>
                <a href="#" id="see-map">See Map</a>
                </p>
            </div>     
            <div class="grid_3">
                <p>
                <span>P 816 241 3994</span> 
                <span>F 816 241 3339</span>
                </p>
            </div> 
        </div>
        <a href="#" class="logo"></a>
        <p class="copyright first">
            KIPP is committed to a policy of equal treatment for all individuals. KIPP does not discriminate on the basis of race, color, gender, handicap, age, religion, sexual orientation, national, or ethnic origin.
        </p>
        <p class="copyright">
            &copy; KIPP Endeavor Academy 2010 All Rights Reserved&mdash;A <a href="http://designiseasy.com">Design Is Easy</a> &amp; <a href="threadsafelabs.com">Threadsafe Labs</a> Experience
        </p>
    </div>
</footer>
<div style="display:none;">
<div id="map"><iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;client=safari&amp;q=kipp+endeavor+academy&amp;ie=UTF8&amp;hq=kipp+endeavor+academy&amp;hnear=&amp;ppyss=confirm:Thank+you.+Your+edits+have+been+saved+and+will+be+public+after+they+have+been+reviewed.&amp;cid=2127332256593849120&amp;ll=39.101092,-94.54628&amp;spn=0.031772,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /></div>
</div>
<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.colorbox-min.js"></script>

<script type="text/javascript" charset="utf-8">
    $(function(){
        	$("#see-map").colorbox({inline:true, href:"#map"});
    });    
</script>
</body>
</html>
