{% extends "base.html" %}
{% load cms_tags menu_tags cache kipp %}
{% block body_class %}{% page_attribute slug %}{% endblock %}
{% block main_content %}
<div class="content-wrap container_24 clearfix">
    <nav class="grid_5 suffix_1">
        {% parent_page_title %}
        <ul>
       {% show_menu 1 1 0 100 %}  
        </ul>
    </nav>
    <section class="content grid_13 suffix_1">
    <h1>{% page_attribute "page_title" %}</h1>
    {% placeholder content_area %}
    </section>
</div>
{% endblock %}
